<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head', {title: nav.title}); %>
  </head>
  <body>
  <header>
    <%- include('./partials/header', {name: nav.webSiteName,links: nav.links}) %>
  </header>
  
    <h1><%= nav.title %></h1>
    <p>Welcome to <%= nav.title %></p>
    
    
    <footer>
        <% include ./partials/footer %>
    </footer>
    
  </body>
</html>